.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       .map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
  

      .leaflet-container {
        height: 400px;
        width: 100%;
      }
      #mapid { height: 580px; }


